/* body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} */
#title_main {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
  color: black;
  text-decoration: none;
  /* color: #333; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.btn:hover {
  background-color: #23272b;
}

/* Search bar css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  font-family: "Open Sans", sans-serif;
}

::placeholder {
  color: #1d1e3c;
  opacity: 1;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search_box_wrapper .search_box_item {
  position: relative;
  height: 40px;
  /* margin-bottom: 50px; */
  width: 400px;
  max-width: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.search_box_wrapper .search_box_item .search_box {
  height: 40px;
}

.search_box_wrapper .search_box_item .input_search {
  background: #fff;
  border: 0;
  border-radius: 3px;
  color: #1d1e3c;
  width: 100%;
  height: 100%;
}

.search_box_wrapper .search_box_item .icon {
  position: absolute;
  top: 12px;
  color: #a2a2af;
  font-size: 22px;
  display: flex;
  width: 20px;
}

.search_box_wrapper .search_box_item button {
  width: 80px; /* Adjusted width */
  height: 30px;
  position: absolute;
  top: 5px;
  border-radius: 3px;
  border: 0;
  display: block;
  background: black;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.search_box_wrapper .search_box_item button:hover {
  background: gray;
}

/*search_box_1*/
.search_box_wrapper .search_box_item.search_box_item_1 .input_search {
  padding: 10px 140px 10px 45px;
}

.search_box_wrapper .search_box_item.search_box_item_1 button {
  right: 5px;
}

.search_box_wrapper .search_box_item.search_box_item_1 .icon {
  left: 12px;
}

/*search_box_2*/
.search_box_wrapper .search_box_item.search_box_item_2 .input_search {
  padding: 10px 45px 10px 140px;
}

.search_box_wrapper .search_box_item.search_box_item_2 button {
  left: 5px;
}

.search_box_wrapper .search_box_item.search_box_item_2 .icon {
  right: 12px;
}

/* Navigation bar css */
.back-ground {
  background-color: #ffffff;
}

.clicked.active {
  border-bottom: 3px solid black !important;
}

.clicked.scrolled {
  border-bottom: none;
}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
}

nav a:hover {
  /* text-decoration: underline; */
  border-bottom: 3px solid black !important;
  color: #23272b;
}

nav a.active {
  border-bottom: 3px solid black !important;
}
/* 
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

#fix {
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar {
  /* position: relative; */
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  color: #374151;
  max-width: 80rem;
}

.navbar-container {
  width: 100%;
  display: flex;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.nav-click {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.nav-links {
  display: flex;
  font-size: 1rem;
  line-height: 1.5rem;
  flex-wrap: wrap;
  align-items: center;
  border-bottom-width: 1px;
  border-color: #e5e7eb;

  @media (min-width: 768px) {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.75rem;
    margin-bottom: 0;
    margin-right: 0.75rem;
    border-right-width: 1px;
    border-bottom-width: 0;
  }
}

.nav-buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 768px) {
    margin-left: 1.5 rem;
    justify-content: flex-end;
  }
}

#post_product {
  margin-right: 1 rem;
}

.button-nav {
  margin-right: 50px;
}

/* Define the rainbow animation
@keyframes rainbow {
  0% {
    border-color: red;
  }
  16% {
    border-color: orange;
  }
  33% {
    border-color: yellow;
  }
  50% {
    border-color: green;
  }
  66% {
    border-color: blue;
  }
  83% {
    border-color: indigo;
  }
  100% {
    border-color: violet;
  }
}
/* 
/* Apply styles to the button */
/* .rainbow-button {
  border: 150px solid;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

/* Apply animation on hover */
/* .rainbow-button:hover {
  animation: rainbow 3s linear infinite;
}  */
